//New variabeles

$my-font: 'Raleway', sans-serif;
//$my-font: "Sanchez", serif;

//$body-font: 'Source Sans Pro', sans-serif;
$body-font: 'Raleway', sans-serif;
//$body-font: 'Merriweather', serif;
//$body-font: "Questrial", sans-serif;

//$my-color:#C7FFEA;
$my-color:#eee;

$mint:#b2ffe4;
$mid-mint: #006642;
$dark-mint: #004d32;

$light-gray1:#F5F7FA;
$light-gray2:#E6E9ED;

$dark-gray1:#656D78;
$dark-gray2:#434A54;

/*Grapefruit*/
/* $main-color:#ED5565;
$second-color:#DA4453; */

/*Aqua*/
/* $main-color:#4FC1E9;
$second-color:#3BAFDA; */

/*Grass*/
/* $main-color:#A0D468;
$second-color:#8CC152; */

/*Sunflower*/
/* $main-color:#FFCE54;
$second-color:#F6BB42; */

/*Mint*/
$main-color:#48CFAD;
$second-color:#37BC9B;

/*DarkBlue*/
/* $third-color:#34495e;
$fourth-color:#2c3e50; */

/* $light-font:#F5F7FA; */
/* $dark-font:#434A54; */
$light-font:#fff;
$dark-font:#434A54;


// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $body-font;
$header-font-family: $my-font;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 3;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;