@mixin div-padding{
	padding: 5em 1em;
}

#about{
	@include outer-container;
}

.bullets{
	@include outer-container;
}

$base-height:50em;

#band1{
	
	background:$second-color;
	color: $dark-font;
	height:$base-height;

	#tagline{
		font-size: 3em;
		text-align: center;
	}

	.inner-div {
		@include outer-container;
		@include div-padding;
	}

	img{
		//text-align: center;
		height: auto;
		width: 30em;
		margin-left: auto;
		margin-right: auto;
		display: block; 
		padding: 1em 0.5em;
	}
}

#band2{
	background:$light-gray1;
	color: $dark-font;
	height:$base-height;

	h1{
		text-align: center;
	}

	.inner-div  {
		@include outer-container;
		@include div-padding;
	}
}

#band3{
	background:$light-gray2;
	color: $dark-font;
	height:$base-height - 20em;
	.inner-div  {
		@include outer-container;
		@include div-padding;
	}
}

#band4{
	background: white;
	color: $dark-font;
	height:$base-height - 10em;
	.inner-div  {
		@include outer-container;
		@include div-padding;
	}
}

#band5{
	//background:$second-color;
	background:$dark-gray2;
	color: $light-font;
	height:$base-height - 35em;
	.inner-div  {
		@include outer-container;
		padding: 2em 1em;
	}

	#left-ftr{
		@include span-columns(4);
	}

	#right-ftr{
		@include span-columns(8);
	}

	.social-icon{
		height: 3.6em;
		opacity: 0.8;
		float: right;
		//padding-left:0.5em;
		padding:0.4em;

		&:hover{
			opacity: 1;
		}
	}
}