<ion-view view-title="Start">
  <ion-content>
  <label class="item item-input">
    <input type="text" placeholder="Art Name" ng-model="art.name">
  </label>
	<button class="button button-block button-positive" ng-click="startStopButtonClicked()">
	  {{started && 'Stop! ' + art.name || 'Start!'}}
	</button>
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-polyline path="art.coords" visible='true'
			geodesic='true' fit="false" editable="false" draggable="false"></ui-gmap-polyline>
		</ui-gmap-google-map>
  </ion-content>
</ion-view>
