<ion-view view-title="Information">
    <ion-content>
        <img class="HomeLogo" src='img/logo.png'></img>
        
        <div class="information">
            <h3>Lets get creative!</h3>
            <p>
                Head on over to 'Start' and start tracking your movements.
                <br />
                Be creative and go places you've never been before!
                <br />
                <br />
                Once finished with your masterpiece press the 'Gallery' to view your saved works of art & share them with the world!
                <br /><br />
                Thanks for using Fun Run!
                <br />
                Have Fun
            </p>
        </div>
    </ion-content>
</ion-view>
